Repository samueldng/sisiago_ana: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run type-check

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write",
    "git add"
  ],
  "*.{css,scss,sass}": [
    "prettier --write",
    "git add"
  ],
  "src/**/*.{ts,tsx}": [
    "npm run type-check"
  ]
}

Corrigido problema de autenticação no Netlify
  netlify.toml
  netlify/functions/api.js
  public/_redirects
Due: eslint --fix, prettier --write

Corrigido erros de importação em APIs de auditoria
  src/app/api/audit-alerts/route.ts
  src/app/api/audit-alerts/rules/route.ts
  src/app/api/audit-metrics/route.ts
  src/app/api/audit-patterns/route.ts
  src/lib/auth.ts
  src/lib/supabase/server.ts
Due: eslint --fix, prettier --write, npm run type-check

fix: Configure Netlify deployment settings and environment variables
  README.md
  package.json
  src/lib/auth.ts
  src/lib/supabase.ts
  src/lib/supabase/server.ts
Due: eslint --fix, prettier --write, npm run type-check

fix: Correções de autenticação e configuração do Supabase
  netlify.toml
  next.config.js
  src/app/api/categories/counts/route.ts
  src/app/api/dashboard/stats/route.ts
  src/app/api/relatorios/route.ts
  src/app/api/sales/route.ts
  supabase/migrations/check_test_user.sql
  supabase/migrations/create_test_user.sql
  supabase/migrations/disable_users_rls_temporarily.sql
  supabase/migrations/fix_audit_logs_table.sql
  supabase/migrations/fix_users_rls_policies.sql
  supabase/migrations/update_admin_password.sql
  vercel.json
Due: eslint --fix, prettier --write, npm run type-check

fix: Corrigir problemas de build do Netlify
  netlify.toml
  next.config.js
  vercel.json
Due: eslint --fix, prettier --write

fix: Corrigir erros de build do Netlify - Dynamic Server Usage e navigator undefined
  src/app/api/products/expired/route.ts
  src/app/api/relatorios/route.ts
  src/app/test-mobile-fix/page.tsx
Due: eslint --fix, prettier --write, npm run type-check

fix: Remover função Netlify conflitante que causava erro de rota duplicada /api/api/auth/login
  netlify/functions/api.js
Due: eslint --fix, prettier --write

fix: Remove redirecionamento incorreto de API no _redirects que causava erro de login
  public/_redirects
Due: none

fix: Corrigir configuração de cookie para autenticação no Netlify
  src/app/api/auth/login/route.ts
  src/app/api/auth/verify/route.ts
Due: eslint --fix, prettier --write, npm run type-check

fix: Corrigir redirecionamento após login - usar result.success em vez de success direto
  src/app/login/page.tsx
Due: eslint --fix, prettier --write, npm run type-check

fix: Corrigir redirecionamento no Netlify usando window.location.href como fallback
  public/_redirects
  src/app/login/page.tsx
Due: eslint --fix, prettier --write, npm run type-check

fix: resolve infinite redirect loop in login system
  src/app/login/page.tsx
  src/middleware.ts
  supabase/migrations/check_users.sql
Due: eslint --fix, prettier --write, npm run type-check

fix: resolve JWT token validation error by standardizing to jose library
  src/app/api/auth/login/route.ts
  src/app/api/auth/verify/route.ts
Due: eslint --fix, prettier --write, npm run type-check
